@import "mixins";
@import "keyframes";
@import "variables";

body {
  margin: 0;
  padding: 0;
}

#svg-city {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.triangles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.tr {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  position: absolute;

  animation: fading 7s infinite linear;

  &_w {
    color: $white;
  }

  &_p {
    color: $primary-color;
  }

  &_s {
    color: $secondary-color;
  }

  &_left {

    &_lg {
      @include triangle(left, null, get-vw($triangle-lg))
    }

    &_md {
      @include triangle(left, null, get-vw($triangle-md))
    }

    &_sm {
      @include triangle(left, null, get-vw($triangle-sm))
    }

    &_xs {
      @include triangle(left, null, get-vw($triangle-xs))
    }
  }

  &_right {

    &_lg {
      @include triangle(right, null, get-vw($triangle-lg))
    }

    &_md {
      @include triangle(right, null, get-vw($triangle-md))
    }

    &_sm {
      @include triangle(right, null, get-vw($triangle-sm))
    }

    &_xs {
      @include triangle(right, null, $triangle-xs)
    }
  }
}

$triangles-positions: (
  //right
                (140px, 0px),
                (253px, 35px),
                (220px, 150px),
                (130px, 205px),
                (25px, 10px),
                (25px, 130px),
                (140px, 310px),
                (220px, 435px),
                (140px, 510px),
                (140px, 610px),
                (770px, 0px),
                (850px, 40px),
                (860px, 140px),
                (740px, 170px),
                (750px, 300px),
                (860px, 460px),
                (760px, 480px),
                (750px, 580px),
                (510px, 120px),
                (510px, 190px),
                (430px, 120px),
                (430px, 190px),
                (350px, 120px),
                (350px, 190px),
          //left
                (130px, null, null, 0px),
                (180px, null, null, 40px),
                (180px, null, null, 120px),
                (240px, null, null, 0px),
                (290px, null, null, 40px),
                (290px, null, null, 120px),
                (340px, null, null, 0px),
                (390px, null, null, 40px),
                (390px, null, null, 120px),
                (440px, null, null, 0px),
                (560px, null, null, 0px),
                (630px, null, null, 40px),
                (640px, null, null, 170px),
                (560px, null, null, 200px),
                (565px, null, null, 280px),
                (640px, null, null, 430px),
                (640px, null, null, 350px),
                (565px, null, null, 550px),
          //center
                (140px, null, null, 750px),
                (140px, null, null, 850px),
                (220px, null, null, 850px),
                (220px, null, null, 950px),
);

@include triangles-list($triangles-positions)
