$trees-heights: 360, 95, 390;
$animation-duration: 8s;
$max-skew: 15deg;

.leaves {
  animation: falling $animation-duration linear infinite, fading $animation-duration ease-in-out infinite;
  path {
    animation: hovers $animation-duration linear infinite;
  }
}

/// Generating keyframe wind-skew for each tree
@each $height in $trees-heights {
  .wind-skew-#{$height} {
    height: #{$height}px;
    animation: wind-skew-#{$height} $animation-duration ease-in-out infinite;
    transform-origin: 100% 100%;
  }
  $hypotenuse: $height / 2 * 1px;
  @keyframes wind-skew-#{$height} {
    20% {
      transform: none;
    }
    40% {
      transform: skewX($max-skew);
    }
    55% {
      transform: skewX(-$max-skew/2);
    }
    67% {
      transform: skewX($max-skew/2.4);
    }
    77% {
      transform: skewX(-$max-skew/3.75);
    }
    85% {
      transform: none;
    }
  }
}

@keyframes falling {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(50%);
  }
}

@keyframes fading {
  0%, 40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@keyframes hovers {
  25% {
    transform: none;
  }
  40% {
    transform: rotate($max-skew);
  }
  55% {
    transform: rotate(-$max-skew/2);
  }
  67% {
    transform: rotate($max-skew/2);
  }
  77% {
    transform: rotate(-$max-skew/2);
  }
  90% {
    transform: none;
  }
}
