.tree_rounded {
  animation: windSkew 6s ease-in-out infinite;
}

.bush {
  animation: windSkewSmall 6s ease-in-out infinite;
}

.leaves {
  path {
    opacity: 0;
    &:nth-child(1) {
      animation: falling 6s ease-in infinite, fading 6s ease-in infinite;
    }
    &:nth-child(2) {
      animation: falling 6s ease-in infinite, fading 6s ease-in infinite;
    }

    &:nth-child(3) {
      animation: falling 6s ease-in infinite, fading 6s ease-in infinite;
    }

    &:nth-child(4) {
      animation: falling 6s ease-in infinite, fading 6s ease-in infinite;
    }


    &:nth-child(5) {
      animation: falling 6s ease-in infinite, fading 6s ease-in infinite;

    }
  }
}

@keyframes windSkew {
  20% {
    transform: none;
  }
  40% {
    transform: translateX(-50px) skewX(15.62deg);
  }
  55% {
    transform: translateX(27px) skewX(-8.43deg);
  }
  67% {
    transform: translateX(-20px) skewX(6.25deg);
  }
  77% {
    transform: translateX(15px) skewX(-4.68deg);
  }
  85% {
    transform: none;
  }
}

@keyframes windSkewSmall {
  20% {
    transform: none;
  }
  40% {
    transform: translateX(-15px) skewX(8.33deg);
  }
  55% {
    transform: translateX(7px) skewX(-8.43deg);
  }
  67% {
    transform: translateX(-5px) skewX(6.25deg);
  }
  77% {
    transform: translateX(5px) skewX(-4.68deg);
  }
  85% {
    transform: none;
  }
}

@keyframes falling {
  0% {
    transform: translateY(-76%) translateX(-20%);
  }
  90% {
    transform: translateY(76%) translateX(35%);
  }
}

@keyframes fading {
  52% {
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
